DATABASE_URL="postgresql://neondb_owner:npg_AYkyLg21MJHX@ep-empty-sunset-a1u5lbv9-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_AYkyLg21MJHX@ep-empty-sunset-a1u5lbv9.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="g85052720@gmail.com"
SMTP_PASS="csliwlwhuwivvcob"
SMTP_FROM="Scaler Scheduler <noreply@example.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
APP_OWNER_EMAIL="g85052720@gmail.com"
